.col-md-12
  .panel.panel-primary
    .panel-heading Health Id
    .col-md-4.col-md-offset-1
      = image_tag "/img/cal.jpeg"
    .col-md-6
      %label Name:
      %p Cal Al-Dhubaib
      %label Health id: 
      %p 84000016328539281
